html {
    text-align: center;
    background-color: black;
    color: white;
}

header h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.colors {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid white;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-bottom: 10px;
}

.electricblue {
    background-color: #7DF9FF;
    color: black;
}

.darkpurple {
    background-color: #551A8B;
}

.tyrianpurple {
    background-color: #66023C;
}

.bloodred {
    background-color: #880808;
}

.fonts {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid white;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-bottom: 10px;
}

.spacemono {
    font-family: 'Space Mono';
    padding-bottom: 1px;
}

.vollkorn {
    font-family: 'Vollkorn';
    padding-bottom: 1px;
}

.biorhyme {
    font-family: 'BioRhyme';
}

.textstyles {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid white;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-bottom: 25px;
}

ul {
    display: table; 
    margin: 0 auto;
    text-align: left;
}

#smexample {
    font-family: 'Space Mono';
}

#vexample {
    font-family: 'Vollkorn';
}

#brexample {
    font-family: 'BioRhyme';
}

#vexample li {
    font-size: 20px;
}

#brexample li {
    font-size: 12px;
}